body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.table{
    table-layout: fixed;
}
.warnings{
    color: darkred;
    font-style: italic;
    width: 150px;
    text-align: center;
    margin: auto;
    padding: 10px;
}
textarea {
    height: 50px;
    width: 100%;
    resize: none;
}